---
layout: base.njk
---
<main>
  <article>
    <div class="content">
      <div class="content-measure">
        <div class="content-indent">
        {{ content | safe }}
        </div>
      </div>
    </div>
  </article>
</main>