<div class="pageContent">
<div class="cards">
<ul>
{% for project in collections.projects %}
<li class="card">
<div class="img"><img src="{{ project.data.image }}" alt=""></div>
<div class="text">
<h2><a href="{{ project.url }}">{{ project.data.title }}</a></h2>
<p>{{ project.data.summary }}</p>
<small>Date: {{ project.data.date }}</small>
</div>
</li>
{% endfor %}
</ul>
</div>
</div>